@media (320px <= width <= 480px){

    .modal-form-container .form-content{
        width: 320px;
        height: 520px;
    }

    .modal-form-container .form-content .close{
        margin-left: 250px;
    }

}

@media (481px <= width <= 767px){

}

@media (768px <= width <= 1023px){

    .modal-form-container .form-content{
        width: 400px;
        height: 520px;
    }

    .modal-form-container .form-content .close{
        margin-left: 330px;
    }

}

@media (1024px <= width <= 1199px){

    .modal-form-container .form-content{
        width: 550px;
        height: 620px;
    }

    .modal-form-container .form-content .close{
        margin-left: 450px;
    }

}

@media (1200px <= width <= 1919px){

    .modal-form-container .form-content{
        width: 400px;
        height: 500px;
    }

    .modal-form-container .form-content .close{
        margin-left: 330px;
    }

}

@media (1920px <= width <= 2600px){

     .modal-form-container .form-content{
        width: 500px;
        height: 500px;
    }

    .modal-form-container .form-content .close{
        margin-left: 430px;
    }

}


.modal-form-container{
    width: 100dvw;
    height: 100dvh;
    background-color: rgba(0, 0, 0, .7);
    backdrop-filter: blur(3px);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.modal-form-container .form-content{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 10px;
}

.modal-form-container .form-content .close{
    width: 30px;
    height: 30px;
    border: none;
    padding: 10px;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 1);
    font-size: 1.5rem;
    font-weight: 600;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .4s all ease-in-out;
}

.modal-form-container .form-content .close:hover{
    cursor: pointer;
    transform: scale(1.1);
}